name: Try to build the package

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: write

jobs:
  test-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install Nix
        uses: cachix/install-nix-action@v31
        
      - uses: nicknovitski/nix-develop@v1

      - name: fmt
        run: cargo fmt

      - name: lint
        run: cargo clippy
      
      - name: Build
        run: cargo build --verbose
        
      - name: Test
        run: cargo test --verbose
