name: Try to build the package

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: write
  actions: write

jobs:
  test-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - uses: nixbuild/nix-quick-install-action@v30
        with:
          nix_conf: |
            keep-env-derivations = true
            keep-outputs = true
      
      - name: Restore and save Nix store
        uses: nix-community/cache-nix-action@v6
        with:
          primary-key: nix-${{ hashFiles('**/*.nix', '**/flake.lock') }}
          restore-prefixes-first-match: nix-
          gc-max-store-size-linux: 3G
          purge: true
          purge-prefixes: nix-
          purge-created: 0
          purge-last-accessed: 0
          purge-primary-key: never
        
      - uses: nicknovitski/nix-develop@v1
      
      - uses: Swatinem/rust-cache@v2

      - name: fmt
        run: cargo fmt

      - name: lint
        run: cargo clippy --no-deps
      
      - name: Build
        run: cargo build --verbose
        
      - name: Test
        run: cargo test --verbose
